.wrapper {
    border-radius: 8px;
    margin-top: 1rem;
}

.form h1 {
    color: #844d36;
}

.form button {
    background-color: #844d36;
}

.form button:hover {
    color: #844d36;
    border: 2px solid #844d36;
}

.option a {
    color: #844d36;
}


@media only screen and (max-width: 850px) {
    .wrapper {
        margin-top: 17rem;
    }
}
@media only screen and (max-width: 769px) {
    .wrapper {
        margin-top: 10rem;
    }
}
@media only screen and (max-width: 767px) {
    .wrapper {
        margin-top: 12rem;
    }
}

@media only screen and (max-width: 440px) {
    .wrapper {
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 380px) {
    .wrapper {
        margin-top: 3rem;
    }
}