.header {
    background-color: #31cb53;
    /* margin-bottom: 5rem; */
}

.hamburger-icon {
    display: none;
}

@media screen and (max-width: 767px) {
    .header {
        background-color: #31cb53;
        /* height: 10vh; */
    }
    .nav-wrapper {
        /* display: none; */
    }

    .hamburger-icon {
        /* display: block; */
    }
}